.event-container{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-main{
    width: 800px;
    padding: 20px;
    background-color: #000000cb;
    border-radius: 10px;
    box-shadow: 1px 1px 40px 25px #000000cb;
}

.event-article{
    display: flex;
    flex-direction: row;
}

.event-section{
    display: flex;
    flex-direction: column;
}

.division-line{
    height: 100px;
    width: 4px;
    border-radius: 1px;
    background-color: #ffffff44;
    margin: auto 10px;
}