.event-container {
    position: fixed;
    width: 100vw;
    height: 100vh; /* Родительский контейнер занимает всю высоту окна */
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 20px;
    background-color: #000000cb;
    border-radius: 10px;
    box-shadow: 1px 1px 40px 25px #000000cb;
    min-width: 320px;
    max-width: 70vh;
    flex-grow: 1; 
    max-height: 90vh; 
    overflow-y: auto; 
}

.event-main::-webkit-scrollbar {
    width: 12px; 
}

.event-main::-webkit-scrollbar-thumb {
    background-color: #fae100; 
    border-radius: 10px; 
    border: 3px solid transparent; 
    background-clip: padding-box; 
}


.event-main::-webkit-scrollbar-button {
    display: none;
}

.event-main::-webkit-scrollbar-track {
    background-color: transparent;
}

.event-article{
    display: flex;
    flex-direction: row;
}

.event-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.division-line{
    height: 100px;
    width: 4px;
    border-radius: 1px;
    background-color: #ffffff44;
    margin: auto 10px ;
}

.event-container .card{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px #000; 
    border-radius: 10px;
    height: 450px;
    width: 300px;
}

.event-container button{
    background: #fae100;
    padding: 5px;
    color: #000000;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}

.event-container button:hover{
    background: #fae100;
    color: #fff;
    box-shadow: 0 0 5px #fae100, 0 0 25px #fae100, 0 0 50px #fae100, 0 0 100px #fae100;
}