/* Footer Container --------------------------------------------------*/
.footer{
    /* position: sticky; */
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 5px;
    z-index: 10;
    width: 100vw;
    background: #00000075;
}

.footer-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.footer-collapse{
    font-size: 30px;
    color: #ffffff8f;
    text-align: center;
    padding: 2px;
    text-shadow: 0px 0px 20px #ffffff ;

}

/* Card Deck Container ------*/

.card-deck-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 400px;
    margin: 0px 0px 10px 10px;
}

.card-deck{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    flex: 0.5;
    box-shadow: 0 4px 8px #000; 

    border-radius: 10px;
    
    height: 380px;
    filter: brightness(0.6);
    transition: transform 0.5s ease-in-out, filter 0.5s ease;
}

.card-deck.active{
    max-width: 290px;
    flex: 10;
    height: 400px;
    filter: brightness(1);

}

/* End Card Deck  Container ------*/

/* Hero Container ------*/

.hero-tablet{
    background-size: contain; 
    width: 567px;
    height: 400px;
    border-radius: 10px;
}

.hero-value{
    font-size: 30px;
    position: relative;
    height: 40px;
    width: 40px;
    text-align: center;
    -webkit-text-stroke: 1px #000000b4;
}

.resolve-value{
    top: 35px;
    left: 29px;
    font-size: 35px;
    color: #56b6ce;
    
}

.strength-value{
    top: 182px;
    left: 29px;
    color: #d42c2c;
}

.dexterity-value{
    top: 195px;
    left: 61px;
    color: #1d8b2b;
}

.defense-value{
    top: 190px;
    left: 113px;
    color: #1d498b;
}

.luck-value{
    top: 172px;
    left: 178px;
    color: #8b891d;
}

.health-value{
    top: -188px;
    left: 505px;
    font-size: 35px;
    color: #c71c0f;
}

.gold-value{
    top: -235px;
    left: 130px;
    width: 140px;
    font-size: 30px;
    color: #fae100;
}
/* End Hero Container ------*/


/* End Footer Container --------------------------------------------------*/