/* Game field --------------------------------------------------*/
.game-map{
    background-image: url('../img/world-map.jpg');
    background-size: cover; 
    background-position: center;
    width: 1300px;
    height: 1200px;
    margin: 0 auto 0 auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px #000;

}


.playing-field{
    margin: 0 auto 0 auto;
    width: 1230px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    z-index: -1; 
}

.playing-field.shading{
    background-color: #00000080;
}

.tile-field{
    position: relative;
    box-sizing: border-box;
    width: 82px;
    height: 82px;
}

.tile-field i{
    position: absolute;
    font-size: 40px;
    color: #fae1004d;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.315), 0 0 20px rgba(0, 0, 0, 0.322), 0 0 20px rgba(0, 0, 0, 0.233);
}

.tile-field i.end-icon{
    top: 60px;
    left: -30px;
    padding: 7px;
    color: #fa00008e;
    z-index: 20;
}

.tile-field i.search-icon,
.tile-field i.treasure-icon{
    top: -40px;
    left: 60px;
    padding: 7px;
    color: #fae100b4;
    z-index: 20;
}

.tile-field i.door-icon,
.tile-field i.collapse-icon,
.tile-field i.web-icon,
.tile-field i.abyss-icon,
.tile-field i.bridge-icon,
.tile-field i.arrow-icon,
.tile-field i.grille-icon{
    padding: 20px;
    z-index: 30;
}

.tile-field i.catacomb-icon{
    margin: 25px;
    z-index: 30;
}

.tile-field i:hover{
    color: #fae100;
    text-shadow: 0px 0px 20px rgb(255, 166, 0), 0 0 20px rgb(255, 166, 0), 0 0 20px white;
}

.tile-field i.end-icon:hover{
    color: #fa0000;
    text-shadow: 0px 0px 20px rgb(255, 0, 0), 0 0 20px rgb(255, 0, 0), 0 0 20px white;
}

.available-field{
    position: absolute;
    box-sizing: border-box;
    border: 4px dashed rgb(12, 145, 18);
    width: 82px;
    height: 82px;
    z-index: 10;
}

.available-field:hover{
    background: repeating-linear-gradient(
        -45deg,      /* Угол наклона штрихов */
        rgb(0, 192, 16),      /* Цвет первой линии */
        rgb(0, 192, 16) 2px,  /* Толщина первой линии */
        rgba(255, 255, 255, 0) 2px,  /* Промежуток между линиями */
        rgba(255, 255, 255, 0) 10px  /* Завершающий промежуток перед повторением */
    );
}



.hero_token_catacomb{
    position: absolute;
    width: 60px;
    height: 78px;
    z-index: 10;
}


.hero_mitl{
    position: absolute;
    top : -10px;
    left : 10px;
    height: 80px; 
    z-index: 10;
}

.tile-field:hover .hero_mitl{
    top : -60px;
    left : -40px;
}

.room_token_catacomb{
    position: absolute;
    top: 15px;
    left: 12px;
    width: 50px;
    z-index: 1;
}

.token_monsters{
    position: absolute;
    top: 15px;
    left: 12px;
    z-index: 1;

    background-size: cover; 
    background-position: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px #000;
}

.token_catacombs{
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1;

    background-size: cover; 
    background-position: center;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px #000;
}

/* End Game field --------------------------------------------------*/

