/* Game field --------------------------------------------------*/
.game-map{
    background-image: url('../img/world-map.jpg');
    background-size: cover; 
    background-position: center;
    width: 1300px;
    height: 1200px;
    margin: 0 auto 0 auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px #000;
}


.playing-field{
    margin: 0 auto 0 auto;
    width: 1230px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tile-field{
    width: 82px;
    height: 82px;

}

.hero_token_catacomb{
    width: 60px;
    height: 78px;
}

.hero_mitl{
    position: relative;
    top: -180px;
    left: 15px;
    height: 78px; 
    z-index: 10;
}

.room_token_catacomb{
    width: 60px;
    z-index: 1;
    position: relative;
    top: -80px;
    left: 12px;
}

/* End Game field --------------------------------------------------*/

