:root{
    --color-dwarf: #8b4c23;
    --color-enchantress: #b762c7;
    --color-hunter: #70b7cb;
    --color-knight: #c43b17;
    --color-mage: #6e090d;
    --color-robber: #454778;
}



/* Character Selection Container */
/* .character-selection-container{

} */

.character-selection-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 600px;
    width: 80vw;
    height: 400px;
}


.character-selection-container .hero{
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    flex: 0.5;
    box-shadow: 0 4px 8px #000; 
    
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 350px;

}

.character-selection-container .hero p{
    position: absolute;
    font-size: 20px;
    color: #fae100;
    transform: rotate(-90deg);
    text-align: center;
    white-space: nowrap;
    height: 30px;
    background-color: #000000cb;
    box-shadow: 1px 1px 20px 15px #000000cb;
    border-radius: 5px;
    
}

.character-selection-container .hero.active{
    min-width: 540px;
    flex: 1;
    height: 400px;

}

.character-selection-container .hero.active p{
    display: none;
}

.player-list-container{
    color: white;
}

/* End Character Selection Container          */

/* Player List Container */
.player-list{
    margin-top: 20px;
    padding: 10px;
    background-color: #9e9e9e70;
    border-radius: 5px;
    width: 100%;
}

.player-list tr:nth-child(2n){
    background-color: #ffffff73;
}

/* End Player List Container */