<!-- Authentication Container -->
<div class="authentication">
    <div class="dialog-form-container login-box">
        <h2>Реєстрація</h2>
        <div class = 'form'>
            <div class="user-box">
                <input type="text" name="userName" id="userName" required />
                <label>Ім'я</label>
            </div>
            <div class="user-box">
                <input type="password" name="userPassword" id="userPassword" required />
                <label>Пароль</label>
            </div>
            <button class="btn" id="btn_new_game">Нова гра</button>
            <button class="btn" id="btn_connect">Приєднатись</button>
        </div>
    </div>
</div>
<!-- End Authentication Container-->