<!-- Game Container -->
<div class="game-container">
    <div class="game-map">
        <div class="head-timer-container">
            <div class="tile-day day-0" day="0"></div> 
            <div class="tile-day day-1" day="1"></div> 
            <div class="tile-day day-2" day="2"></div> 
            <div class="tile-day day-3" day="3"></div> 
            <div class="tile-day day-4" day="4"></div> 
            <div class="tile-day day-5" day="5"></div> 
            <div class="tile-day day-6" day="6"></div> 
            <div class="tile-day day-7" day="7"></div> 
            <div class="tile-day day-8" day="8"></div> 
            <div class="tile-day day-9" day="9"></div> 
            
            <div class="tile-day day-10" day="10"></div> 
            <div class="tile-day day-11" day="11"></div> 
            <div class="tile-day day-12" day="12"></div> 

            <div class="tile-day day-13" day="13"></div> 
            <div class="tile-day day-14" day="14"></div> 
            <div class="tile-day day-15" day="15"></div> 

            <div class="tile-day day-16" day="16"></div> 
            <div class="tile-day day-17" day="17"></div> 
            <div class="tile-day day-18" day="18"></div> 

            <div class="tile-day day-19" day="19"></div> 
            <div class="tile-day day-20" day="20"></div> 
            <div class="tile-day day-21" day="21"></div> 

            <div class="tile-day day-22" day="22"></div> 
            <div class="tile-day day-23" day="23"></div> 
            <div class="tile-day day-24" day="24"></div> 

            <div class="tile-day day-25" day="25"></div> 
            <div class="tile-day day-26" day="26"></div> 
            <div class="tile-day day-27" day="27"></div> 
            <div class="tile-day day-28" day="28"></div> 
            <div class="tile-day day-29" day="29"></div> 
            <div class="tile-day day-30" day="30"></div> 
            <div class="tile-day day-31" day="31"></div> 
            <div class="tile-day day-32" day="32"></div> 
            <div class="tile-day day-33" day="33"></div> 
            <div class="tile-day day-34" day="34"></div> 
            <div class="tile-day day-35" day="35"></div> 
            <div class="tile-day day-36" day="36"></div> 
            <div class="tile-day day-37" day="37"></div> 
            <div class="tile-day day-38" day="38"></div> 
        </div>      
        
        <div class="playing-field">
            <!-- 0 -->
            <div class="tile-field start-field" data-y="0" data-x="0"></div> 
            <div class="tile-field" data-y="0" data-x="1">
                <img class="tile-field tile-map" src="img/room_tiles/room_15.jpg" alt="" style="rotate: 90deg;">
            </div> 
            <div class="tile-field" data-y="0" data-x="2">
                <img class="tile-field tile-map" src="img/room_tiles/room_15.jpg" alt="" style="rotate: 90deg;">
            </div> 
            <div class="tile-field" data-y="0" data-x="3">
                <img class="tile-field tile-map" src="img/room_tiles/room_15.jpg" alt="" style="rotate: 90deg;">
            </div> 
            <div class="tile-field" data-y="0" data-x="4"></div> 
            <div class="tile-field" data-y="0" data-x="5"></div> 
            <div class="tile-field" data-y="0" data-x="6"></div> 
            <div class="tile-field" data-y="0" data-x="7"></div> 
            <div class="tile-field" data-y="0" data-x="8"></div> 
            <div class="tile-field" data-y="0" data-x="9"></div> 
            <div class="tile-field" data-y="0" data-x="10"></div> 
            <div class="tile-field" data-y="0" data-x="11"></div> 
            <div class="tile-field" data-y="0" data-x="12"></div> 
            <div class="tile-field" data-y="0" data-x="13"></div> 
            <div class="tile-field start-field" data-y="0" data-x="14"></div>  
            <!-- 1 -->
            <div class="tile-field" data-y="1" data-x="0">
                <img class="tile-field tile-map" src="img/room_tiles/room_15.jpg" alt="" style="rotate: 90deg;">
            </div> 
            <div class="tile-field" data-y="1" data-x="1">
                <img class="tile-field tile-map" src="img/room_tiles/room_15.jpg" alt="" style="rotate: 0deg;">
            </div> 
            <div class="tile-field" data-y="1" data-x="2"></div> 
            <div class="tile-field" data-y="1" data-x="3"></div> 
            <div class="tile-field" data-y="1" data-x="4"></div> 
            <div class="tile-field" data-y="1" data-x="5"></div> 
            <div class="tile-field" data-y="1" data-x="6"></div> 
            <div class="tile-field" data-y="1" data-x="7"></div> 
            <div class="tile-field" data-y="1" data-x="8"></div> 
            <div class="tile-field" data-y="1" data-x="9"></div> 
            <div class="tile-field" data-y="1" data-x="10"></div> 
            <div class="tile-field" data-y="1" data-x="11"></div> 
            <div class="tile-field" data-y="1" data-x="12"></div> 
            <div class="tile-field" data-y="1" data-x="13"></div> 
            <div class="tile-field" data-y="1" data-x="14"></div>  
            <!-- 2 -->
            <div class="tile-field" data-y="2" data-x="0"></div> 
            <div class="tile-field" data-y="2" data-x="1">
                <img class="tile-field tile-map" src="img/room_tiles/room_15.jpg" alt="" style="rotate: 90deg;">
            </div> 
            <div class="tile-field" data-y="2" data-x="2"></div> 
            <div class="tile-field" data-y="2" data-x="3"></div> 
            <div class="tile-field" data-y="2" data-x="4"></div> 
            <div class="tile-field" data-y="2" data-x="5"></div> 
            <div class="tile-field" data-y="2" data-x="6"></div> 
            <div class="tile-field" data-y="2" data-x="7"></div> 
            <div class="tile-field" data-y="2" data-x="8"></div> 
            <div class="tile-field" data-y="2" data-x="9"></div> 
            <div class="tile-field" data-y="2" data-x="10"></div> 
            <div class="tile-field" data-y="2" data-x="11"></div> 
            <div class="tile-field" data-y="2" data-x="12"></div> 
            <div class="tile-field" data-y="2" data-x="13"></div> 
            <div class="tile-field" data-y="2" data-x="14"></div>  
            <!-- 3 -->
            <div class="tile-field" data-y="3" data-x="0"></div> 
            <div class="tile-field" data-y="3" data-x="1"></div> 
            <div class="tile-field" data-y="3" data-x="2"></div> 
            <div class="tile-field" data-y="3" data-x="3"></div> 
            <div class="tile-field" data-y="3" data-x="4"></div> 
            <div class="tile-field" data-y="3" data-x="5"></div> 
            <div class="tile-field" data-y="3" data-x="6"></div> 
            <div class="tile-field" data-y="3" data-x="7"></div> 
            <div class="tile-field" data-y="3" data-x="8"></div> 
            <div class="tile-field" data-y="3" data-x="9"></div> 
            <div class="tile-field" data-y="3" data-x="10"></div> 
            <div class="tile-field" data-y="3" data-x="11"></div> 
            <div class="tile-field" data-y="3" data-x="12"></div> 
            <div class="tile-field" data-y="3" data-x="13"></div> 
            <div class="tile-field" data-y="3" data-x="14"></div>  
            <!-- 4 -->
            <div class="tile-field" data-y="4" data-x="0"></div> 
            <div class="tile-field" data-y="4" data-x="1"></div> 
            <div class="tile-field" data-y="4" data-x="2"></div> 
            <div class="tile-field" data-y="4" data-x="3"></div> 
            <div class="tile-field" data-y="4" data-x="4"></div> 
            <div class="tile-field" data-y="4" data-x="5"></div> 
            <div class="tile-field" data-y="4" data-x="6"></div> 
            <div class="tile-field" data-y="4" data-x="7"></div> 
            <div class="tile-field" data-y="4" data-x="8"></div> 
            <div class="tile-field" data-y="4" data-x="9"></div> 
            <div class="tile-field" data-y="4" data-x="10"></div> 
            <div class="tile-field" data-y="4" data-x="11"></div> 
            <div class="tile-field" data-y="4" data-x="12"></div> 
            <div class="tile-field" data-y="4" data-x="13"></div> 
            <div class="tile-field" data-y="4" data-x="14"></div>  
            <!-- 5 -->
            <div class="tile-field" data-y="5" data-x="0"></div> 
            <div class="tile-field" data-y="5" data-x="1"></div> 
            <div class="tile-field" data-y="5" data-x="2"></div> 
            <div class="tile-field" data-y="5" data-x="3"></div> 
            <div class="tile-field" data-y="5" data-x="4"></div> 
            <div class="tile-field" data-y="5" data-x="5"></div> 
            <div class="tile-field" data-y="5" data-x="6"></div> 
            <div class="tile-field treasury" data-y="5" data-x="7"></div> 
            <div class="tile-field" data-y="5" data-x="8"></div> 
            <div class="tile-field" data-y="5" data-x="9"></div> 
            <div class="tile-field" data-y="5" data-x="10"></div> 
            <div class="tile-field" data-y="5" data-x="11"></div> 
            <div class="tile-field" data-y="5" data-x="12"></div> 
            <div class="tile-field" data-y="5" data-x="13"></div> 
            <div class="tile-field" data-y="5" data-x="14"></div>  
            <!-- 6 -->
            <div class="tile-field" data-y="6" data-x="0"></div> 
            <div class="tile-field" data-y="6" data-x="1"></div> 
            <div class="tile-field" data-y="6" data-x="2"></div> 
            <div class="tile-field" data-y="6" data-x="3"></div> 
            <div class="tile-field" data-y="6" data-x="4"></div> 
            <div class="tile-field" data-y="6" data-x="5"></div> 
            <div class="tile-field" data-y="6" data-x="6"></div> 
            <div class="tile-field treasury" data-y="6" data-x="7"></div> 
            <div class="tile-field" data-y="6" data-x="8"></div> 
            <div class="tile-field" data-y="6" data-x="9"></div> 
            <div class="tile-field" data-y="6" data-x="10"></div> 
            <div class="tile-field" data-y="6" data-x="11"></div> 
            <div class="tile-field" data-y="6" data-x="12"></div> 
            <div class="tile-field" data-y="6" data-x="13"></div> 
            <div class="tile-field" data-y="6" data-x="14"></div>  
            <!-- 7 -->
            <div class="tile-field" data-y="7" data-x="0"></div> 
            <div class="tile-field" data-y="7" data-x="1"></div> 
            <div class="tile-field" data-y="7" data-x="2"></div> 
            <div class="tile-field" data-y="7" data-x="3"></div> 
            <div class="tile-field" data-y="7" data-x="4"></div> 
            <div class="tile-field" data-y="7" data-x="5"></div> 
            <div class="tile-field" data-y="7" data-x="6"></div> 
            <div class="tile-field" data-y="7" data-x="7"></div> 
            <div class="tile-field" data-y="7" data-x="8"></div> 
            <div class="tile-field" data-y="7" data-x="9"></div> 
            <div class="tile-field" data-y="7" data-x="10"></div> 
            <div class="tile-field" data-y="7" data-x="11"></div> 
            <div class="tile-field" data-y="7" data-x="12"></div> 
            <div class="tile-field" data-y="7" data-x="13"></div> 
            <div class="tile-field" data-y="7" data-x="14"></div>  
            <!-- 8 -->
            <div class="tile-field" data-y="8" data-x="0"></div> 
            <div class="tile-field" data-y="8" data-x="1"></div> 
            <div class="tile-field" data-y="8" data-x="2"></div> 
            <div class="tile-field" data-y="8" data-x="3"></div> 
            <div class="tile-field" data-y="8" data-x="4"></div> 
            <div class="tile-field" data-y="8" data-x="5"></div> 
            <div class="tile-field" data-y="8" data-x="6"></div> 
            <div class="tile-field" data-y="8" data-x="7"></div> 
            <div class="tile-field" data-y="8" data-x="8"></div> 
            <div class="tile-field" data-y="8" data-x="9"></div> 
            <div class="tile-field" data-y="8" data-x="10"></div> 
            <div class="tile-field" data-y="8" data-x="11"></div> 
            <div class="tile-field" data-y="8" data-x="12"></div> 
            <div class="tile-field" data-y="8" data-x="13"></div> 
            <div class="tile-field" data-y="8" data-x="14"></div>  
            <!-- 9 -->
            <div class="tile-field" data-y="9" data-x="0"></div> 
            <div class="tile-field" data-y="9" data-x="1"></div> 
            <div class="tile-field" data-y="9" data-x="2"></div> 
            <div class="tile-field" data-y="9" data-x="3"></div> 
            <div class="tile-field" data-y="9" data-x="4"></div> 
            <div class="tile-field" data-y="9" data-x="5"></div> 
            <div class="tile-field" data-y="9" data-x="6"></div> 
            <div class="tile-field" data-y="9" data-x="7"></div> 
            <div class="tile-field" data-y="9" data-x="8"></div> 
            <div class="tile-field" data-y="9" data-x="9"></div> 
            <div class="tile-field" data-y="9" data-x="10"></div> 
            <div class="tile-field" data-y="9" data-x="11"></div> 
            <div class="tile-field" data-y="9" data-x="12"></div> 
            <div class="tile-field" data-y="9" data-x="13"></div> 
            <div class="tile-field" data-y="9" data-x="14"></div>  
            <!-- 10 -->
            <div class="tile-field" data-y="10" data-x="0"></div> 
            <div class="tile-field" data-y="10" data-x="1"></div> 
            <div class="tile-field" data-y="10" data-x="2"></div> 
            <div class="tile-field" data-y="10" data-x="3"></div> 
            <div class="tile-field" data-y="10" data-x="4"></div> 
            <div class="tile-field" data-y="10" data-x="5"></div> 
            <div class="tile-field" data-y="10" data-x="6"></div> 
            <div class="tile-field" data-y="10" data-x="7"></div> 
            <div class="tile-field" data-y="10" data-x="8"></div> 
            <div class="tile-field" data-y="10" data-x="9"></div> 
            <div class="tile-field" data-y="10" data-x="10"></div> 
            <div class="tile-field" data-y="10" data-x="11"></div> 
            <div class="tile-field" data-y="10" data-x="12"></div> 
            <div class="tile-field" data-y="10" data-x="13"></div> 
            <div class="tile-field" data-y="10" data-x="14"></div> 
             <!-- 11 -->
            <div class="tile-field start-field" data-y="11" data-x="0"></div> 
            <div class="tile-field" data-y="11" data-x="1"></div> 
            <div class="tile-field" data-y="11" data-x="2"></div> 
            <div class="tile-field" data-y="11" data-x="3"></div> 
            <div class="tile-field" data-y="11" data-x="4"></div> 
            <div class="tile-field" data-y="11" data-x="5"></div> 
            <div class="tile-field" data-y="11" data-x="6"></div> 
            <div class="tile-field" data-y="11" data-x="7"></div> 
            <div class="tile-field" data-y="11" data-x="8"></div> 
            <div class="tile-field" data-y="11" data-x="9"></div> 
            <div class="tile-field" data-y="11" data-x="10"></div> 
            <div class="tile-field" data-y="11" data-x="11"></div> 
            <div class="tile-field" data-y="11" data-x="12"></div> 
            <div class="tile-field" data-y="11" data-x="13"></div> 
            <div class="tile-field start-field" data-y="11" data-x="14"></div> 
        </div>      
    </div>

    <div class="footer">
        <div class="footer-collapse"><i class="fas fa-bars"></i></div>
        
        <div class="footer-container">
            <div class="character-tablet-container" ></div>
            <div class="card-deck-container abilitie-card-container"></div>
            <div class="card-deck-container effect-card-container"></div>
            <div class="card-deck-container treasure-card-container"></div>
        </div>
    </div>
</div>
<!-- End Game Container -->