<!-- Character Selection Container-->
<div class="start-game-container hidden">
    <div class="dialog-form-container ">
        <div class="title">
            <h1>Dungeon Quest Online</h1>
            <p>Виберіть персонажа, та дочейкайтесь інших гравців</p>
        </div>
        <!-- Character Selection Container--> 
        <div class="character-selection-container">
            <div id="dwarf" class="card" style="background-image: url('img/hero_tiles/card/dwarf.png')"><p>Гном-Воїн Тарвін</p></div>
            <div id="enchantress" class="card" style="background-image: url('img/hero_tiles/card/enchantress.png')"><p>Чародійка Арвен</p></div>
            <div id="hunter" class="card " style="background-image: url('img/hero_tiles/card/hunter.png')"><p>Мисливець Фарн</p></div>
            <div id="knight" class="card" style="background-image: url('img/hero_tiles/card/knight.png')"><p>Рицар Хьюгарт</p></div>
            <div id="mage" class="card" style="background-image: url('img/hero_tiles/card/mage.png')"><p>Маг Геріон</p></div>
            <div id="robber" class="card" style="background-image: url('img/hero_tiles/card/robber.png')"><p>Розбійниця Изабелла</p></div>
        </div>         
            

        <!-- Player List Container--> 
        <div class="player-list-container ">
            <table class="player-list">                  
            </table>
        </div>         
        <!-- End Player List Container-->            
    </div>

</div>
<!-- End Character Selection Container-->   